*{
    margin: 0;
    padding: 0;

   
}

.container{
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  
    
}
header{
    border-bottom: 1px solid #eeeeee;
}

header .content{
    height: 70px;
 
    display: flex;
    justify-content: space-between;
    align-items: center;



}

header .content a{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #0000FF;
   

}

header .content .link .active{
    color: #000;
 }
main .paragraph{
    font-family: "Inter", sans-serif;
margin-top: 66px;
margin-bottom: 38px;
}
 main p{
    font-family: "Inter", sans-serif;
font-size: 35px;
font-weight: 800;

text-align: left;

 }
 main span{
    font-family: "Inter", sans-serif;
font-size: 18px;
font-weight: 400;

text-align: left;
color:  rgba(102, 102, 102, 1);


 }

 main input{
    width: 400px;
height: 48px;
border-radius: 8px ;
padding-left: 12px;

border: 2px solid rgba(238, 238, 238, 1)
 }
 main #b1{
    width: 130px;
height: 48px;
border-radius: 8px;
background: rgba(0, 0, 255, 1);
border: none;
color: white;
 }

 main .line{
    width: 573px;
height: 1px;

background:  rgba(246, 246, 246, 1);;
margin-top: 15px;

 }

 /* main .list{
    width: 573px;
height: 72px;
top: 317px;
left: 469px;
background: rgba(246, 246, 246, 1);
margin-top: 16px;
 }
 main .list .image button{
 


 }
 main .list .image{
    display: flex;
  justify-content: end;
 } */


 main #list{
    margin-top: 16px;
    
 }


 main #el{
    font-family: "Inter", sans-serif;
    height: 72px;
background: rgba(246, 246, 246, 1);
margin-top: 16px;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 10px;
font-size: 20px;
font-weight: 400;
border-radius: 8px;
padding-right: 10px;
 }
 main #del{
    width: 32px;
height: 32px;
background-color: white;
border-radius: 8px; 
border: 1px solid #FF0000;
color: #FF0000;
font-size: 25px;
text-align: center;

 }

 #total{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
color: #666666;
margin-top: 30px;
   
 }

 #total span{
    color: black;
    font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 400;


 }

 .footer #b2{
    display: none;
 }


 @media (max-width:430px){
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }
    header .content{
        display: flex;
        
    }
    header img{
    width: 80px;
       
    }
    header .content a{
        
        font-size: 16px;
    }

    main p{
   
    font-size: 22px;
   
    
     }
     main span{
    
    font-size: 14px;
     }

     main .line{
        width: 220px;
    }

main #el{
    width:370px;
    font-size: 14px;
}
main input{
    width: 370px;

 }
 main #del{
    width: 20px;
    height: 20px;
    font-size: 14px;
 }
 main #b1{
    display: none;
 }


 #total{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
color: #666666;
margin-top: 30px;
   
 }

 #total span{
    color: black;
    font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;


 }

.footer #b2{
    display: block;
    margin-top: 10px;
    width: 381px;
height: 48px;
border-radius: 8px;
background: rgba(0, 0, 255, 1);
border: none;
color: white;
 }

}